* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* text-align: center; */
}

.grid{
  width:600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}

.square{
  width:200px;
  height: 200px;
  border:solid black 1px;

}


.mole
{
  background-color: blue;
}
